<div class="page-wrapper chiller-theme toggled" style="font-family: 'Montserrat', sans-serif; font-size: 15px;">
  <main class="page-content">
    <div *ngIf="activeChild == 'branch'">
      <app-branch></app-branch>
    </div>
    <div *ngIf="activeChild == 'user'">
      <app-user></app-user>
    </div>
    <div *ngIf="activeChild == 'dashboard'">
      <app-dashboard></app-dashboard>
    </div>
    <div *ngIf="activeChild == 'pricing-period'">
      <app-pricing-period></app-pricing-period>
    </div>
    <div *ngIf="activeChild == 'pricing'">
      <app-pricing></app-pricing>
    </div>
    <div *ngIf="activeChild == 'change-password'">
      <app-change-password></app-change-password>
    </div>
  </main>
</div>
