<!--<div class="btn-group" role="group" aria-label="Basic example">-->
<div *ngIf="active == 'add' || active == 'update' || active == 'delete'">
  <button type="button" class="btn btn-outline-info" (click)="openListComponent()">
    <i class="fa fa-list"></i> Listeye Dön
  </button>
</div>
<div *ngIf="active == 'list'">
  <button type="button" class="btn btn-outline-info" (click)="openAddComponent()">
    <i class="fa fa-plus"></i> Yeni Kullanıcı
  </button>
</div>

<!--</div>-->
<div style="margin-top: 35px;">
  <div *ngIf="active == 'list'">
    <app-user-list></app-user-list>
  </div>
  <div *ngIf="active == 'add'">
    <app-user-add></app-user-add>
  </div>
  <div *ngIf="active == 'update'">
    <app-user-update [id]="itemId"></app-user-update>
  </div>
  <div *ngIf="active == 'delete'">
    <app-user-delete [id]="itemId"></app-user-delete>
  </div>
</div>
