<div class="container">

  <div *ngIf="isSuccessful" class="alert alert-success" role="alert">
    <h4 class="alert-heading">Başarılı !</h4>
    Şifreniz başarıyla değiştirildi.
  </div>

  <div *ngIf="hasError" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Hata !</h4>
    Lütfen daha sonra tekrar deneyiniz.
  </div>

  <form (submit)="changePassword()" #changePasswordForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6">

        <label for="oldPassword">Mevcut Şifre</label>

        <input type="password" class="form-control" id="oldPassword" name="oldPassword"
               placeholder="Mevcut şifrenizi giriniz" #oldPassword="ngModel" [(ngModel)]="passwordModel.oldPassword"
               required>

        <small id="oldPasswordHelp" class="form-text text-danger">* Mevcut şifre alanı zorunludur. </small>

      </div>

      <div class="form-group col-md-6">
      </div>

      <div class="form-group col-md-6">

        <label for="newPassword">Yeni Şifre</label>

        <input type="password" class="form-control" id="newPassword" name="newPassword"
               [pattern]="passwordPattern" placeholder="Yeni şifrenizi giriniz"
               #newPassword="ngModel" minlength="8" [(ngModel)]="passwordModel.newPassword" required>

        <small class="form-text text-danger">
          * Yeni şifre alanı zorunludur.
        </small>
        <small class="form-text text-danger">
          * Yeni şifre en az 1 küçük harf, 1 büyük harf, 1 rakam ve en az 8 karakter olmalıdır.
        </small>

      </div>

      <div class="form-group col-md-6">
      </div>

      <div class="form-group col-md-6">

        <label for="newPasswordConfirm">Yeni Şifre Tekrar</label>

        <input match="newPassword" type="password" class="form-control"
               id="newPasswordConfirm" name="newPasswordConfirm" [pattern]="passwordPattern"
               placeholder="Yeni şifrenizi tekrar giriniz"
               #newPasswordConfirm="ngModel" [(ngModel)]="passwordModel.newPasswordConfirm" required>

        <small id="newPasswordConfirmHelp" class="form-text text-danger">
          * Yeni şifre tekrarı alanı zorunludur.
        </small>
        <small id="newPasswordConfirmHelp2" class="form-text text-danger">
          * Şifreler uyuşmalıdır.
        </small>

      </div>

    </div>
    <div class="col-md-6 p-0 row">
      <div class="col-md-6">
        <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary btn-block">Değiştir
        </button>
      </div>
    </div>
  </form>
</div>
