<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
  <thead class="thead-light">
  <tr>
    <th scope="col">TCKN</th>
    <th scope="col">Ad</th>
    <th scope="col">Soyad</th>
    <th scope="col">Telefon No</th>
    <th scope="col">Kayıt Tarihi</th>
    <th scope="col">İlgili Şube</th>
    <th scope="col">Aksiyonlar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.identityNumber}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname }}</td>
    <td>{{user.phoneNumber}}</td>
    <td>{{user.createdAt | date: 'dd-MM-yyyy'}}</td>
    <td>{{user.relatedBranch?.name}}</td>
    <td>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" (click)="prepareForUpdate(user.id)"><i
          class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="prepareForDelete(user.id)"><i
          class="fa fa-trash"></i></button>
        <div *ngIf="showDeleteComponent">
          <app-user-delete [id]="user.id"></app-user-delete>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
