<div class="page-wrapper chiller-theme toggled" style="font-family: 'Montserrat', sans-serif; font-size: 15px;">
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="#">Bulut otopark</a>
    </div>
    <div class="sidebar-header">
      <div class="user-info">
          <span class="user-name">{{loggedUser.name}}
            <strong>{{loggedUser.surname}}</strong>
          </span>
        <span class="user-role">{{loggedUser.role.name}}</span>
        <span class="user-role">{{loggedUser.identityNumber}}</span>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li class="header-menu">
          <span>Menü</span>
        </li>
        <li class="sidebar-dropdown">
          <a routerLink="/dashboard">
            <i class="fa fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sidebar-dropdown">
          <a [routerLink]="">
            <i class="fa fa-shopping-cart"></i>
            <span>Şubeler</span>
            <!--<span class="badge badge-pill badge-danger">3</span>-->
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a routerLink="/branches">Tüm Şubeler</a>
              </li>
              <li>
                <a routerLink="/branches" (click)="routeWithComponent('branches','add')">Yeni Şube</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a [routerLink]="">
            <i class="far fa-gem"></i>
            <span>Kullanıcılar</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a routerLink="/users">Tüm Kullanıcılar</a>
              </li>
              <li>
                <a routerLink="/users" (click)="routeWithComponent('users','add')">Yeni Kullanıcı</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a [routerLink]="">
            <i class="fa fa-chart-line"></i>
            <span>Şubeler</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="#">Pie chart</a>
              </li>
              <li>
                <a href="#">Line chart</a>
              </li>
              <li>
                <a href="#">Bar chart</a>
              </li>
              <li>
                <a href="#">Histogram</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a [routerLink]="">
            <i class="fa fa-globe"></i>
            <span>Faturalar</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="#">Google maps</a>
              </li>
              <li>
                <a href="#">Open street map</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header-menu">
          <span>Otopark Bilgileri</span>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book"></i>
            <span>Araç Kapasitesi</span>
            <!--<span class="badge badge-pill badge-primary">Beta</span>-->
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-calendar"></i>
            <span>Müsait Yer Sayısı</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->
  <div class="sidebar-footer">
    <a href="#">
      <i class="fa fa-cog"></i>
      <span class="badge-sonar"></span>
    </a>
    <a routerLink="/login" (click)="logout()">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
</nav>
</div>
